.blob-block {
  padding: 1.6rem;
  padding-bottom: 4.6rem;
}

.blob-text {
  font-size: 1.85rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(206, 206, 206);
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0), 1px 1px 0 rgb(0, 0, 0);
  line-height: 2.9rem;
  letter-spacing: 0.01em;
}

/* _____________________________ FOOTER _____________________________ */
.footer {
  padding: 1.8rem 3rem;
  font-size: 1.4rem;
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
